
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    var isHost = ViewBag.Host != null && (bool)ViewBag.Host;
}
<section class="content-header">

    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Danh sách câu hỏi</a></li>
    </ol>
</section>
<section class="content">
    <div class="row"></div>
    <div class="row">
        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Tìm kiếm </h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="form-horizontal">
                    <iv class="box-body">
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label class="col-sm-4 control-label">Khối <span style="color: red">(*)</span></label>

                                <div class="col-sm-8">
                                    <div class="clearfix">
                                        <select id="grade" name="grade" aria-controls="example1" class="js-select2 form-control input-sm" onchange="changeGrade()">
                                            <option value="">----- Chọn khối -----</option>
                                            @if (ViewBag.Grade != null)
                                            {
                                                for (int i = 0; i < ViewBag.Grade.Count; i++)
                                                {
                                                    <option value="@ViewBag.Grade[i].TypeCode.Trim()">@ViewBag.Grade[i].Name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="col-sm-4 control-label">
                                    Môn học <span style="color: red">(*)</span>
                                    <i class="fa fa-spinner fa-spin loadingSpinSubject" style="display:none;font-size:24px;margin-left: 50%;"></i>
                                </label>
                                <div class="col-sm-8">
                                    <div class="clearfix">
                                        <select name="subjectId" id="subjectId" aria-controls="example1" class="js-select2 form-control input-sm" onchange="changeSubject()">
                                            <option value="">--- Chọn môn học---</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="col-sm-4 control-label">
                                    Đề thi <span style="color: red">(*)</span>
                                    <i class="fa fa-spinner fa-spin loadingSpinExam" style="display:none;font-size:24px;margin-left: 50%;"></i>
                                </label>

                                <div class="col-sm-8">
                                    <div class="clearfix">
                                        <select name="examId" id="examId" aria-controls="example1" class="js-select2 form-control input-sm" onchange="changeExam()">
                                            <option value="">---- Chọn đề thi ----</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label class="col-sm-4 control-label">
                                    Chương <span style="color: red">(*)</span>
                                    <i class="fa fa-spinner fa-spin loadingSpinSection" style="display:none;font-size:24px;margin-left: 50%;"></i>
                                </label>
                                <div class="col-sm-8">
                                    <div class="clearfix">
                                        <select name="sectionId" id="sectionId" aria-controls="example1" class="js-select2 form-control input-sm">
                                            <option value="">----- Chọn chương ----</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-5">
                                <label class="col-sm-3 control-label">Từ khóa</label>
                                <div class="col-sm-9">
                                    <input type="text" id="Key" name="key" class="form-control " placeholder="Từ khóa">
                                </div>
                            </div>
                            <div class="form-group col-sm-1"></div>
                        </div>
                        <div class="form-group col-sm-12" style="text-align: center;">
                            <button type="button" title="Tìm kiếm" class="btn color-trong btn-trong" onclick=" refresh(currentPage) ">
                                <i class="fa fa-search" aria-hidden="true"></i>&nbsp;&nbsp;Tìm kiếm
                            </button>
                        </div>
                </div>
            </div>
            <div class="box box-success">
                <div class="box-header with-border" style="padding-bottom: 0px;">
                    <div class="col-sm-6">
                        <h3 class="box-title" style="margin-left: -18px;"> Danh sách</h3>
                    </div>
                    <!--trongnv-->
                    <div class="col-sm-6">
                        @if ((ViewBag.Delete != null && (bool)ViewBag.Delete) || isHost)
                        {
                            <button type="submit" style="margin: -8px -14px 4px 19px;" title="Xóa' | translate" class="btn btn-danger pull-right" onclick=" DeleteAll(null, '@Url.Action("Delete", "Cms_Class")' ) ">
                                <i class="fa fa-times-circle" aria-hidden="true"></i>&emsp; Xóa &emsp;
                            </button>
                        }
                    </div>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal">
                    <div class="box-body">
                        <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="dataTables_length">
                                        <label>
                                            Số lượng hiển thị
                                            <select name="example1_length" id="sizePage" onchange=" refresh(currentPage) " aria-controls="example1" class="selectOption-trong form-control input-sm">
                                                <option value="10">10</option>
                                                <option value="20">20</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>
                                            bản ghi
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-6"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead class="color-trong">
                                            <tr>
                                                <th style="width: 2%; text-align: center">
                                                    <span><input type="checkbox" onclick=" CheckAll() " class="ace check-all" data-id="0" /></span>
                                                </th>
                                                <th style="width: 5%; text-align: center">STT</th>
                                                <th style="width: 5%; text-align: center">CN</th>
                                                <th style="width: 10%; text-align: center">Đề thi</th>
                                                <th style=" width: 13%;text-align: center">Chương</th>

                                                <th style="width: 42%;text-align: center">Câu hỏi</th>
                                                <th style="width: 7%;text-align: center">Ngày tạo</th>
                                                <th style="width: 6%;text-align: center">Người tạo</th>
                                                <th style="width: 7%;text-align: center">Trạng thái</th>
                                            </tr>
                                        </thead>
                                        <tbody id="data"></tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="paging"></div>
                            @*  @Html.Raw(MvcPagingByFrameWork.Paging(Model.PageCount, Model.PageIndex, "System/Cms_Class/Index", ViewBag.Search))*@
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <!-- /.box -->
        <!-- general form elements disabled -->
        <!-- /.box -->
    </div>
</section>
@section jsFooter{
    <script>
        $(function () {
            refresh(currentPage);
        })

        function refresh(page) {
            $("._modal").show();
            var data = new Object();
            data.Grade = $("#grade").find(":selected").val();
            data.SubjectId = $("#subjectId").find(":selected").val();
            data.ExamId = $("#examId").find(":selected").val();
            data.SectionId = $("#sectionId").find(":selected").val();

            data.Grade = (typeof (data.Grade) != "undefined" && data.Grade!="") ? data.Grade : "";
            data.SubjectId = (typeof (data.SubjectId) != "undefined" && data.SubjectId != "") ? data.SubjectId : 0;
            data.ExamId = (typeof (data.ExamId) != "undefined" && data.ExamId != "") ? data.ExamId : "";
            data.SectionId = (typeof (data.SectionId) != "undefined" && data.SectionId != "") ? data.SectionId : 0;

            var sData = "{'page':'" + page + "','key':'" + $("#Key").val() + "','sort':'','pageSize':'" + $("#sizePage").find(":selected").val() + "','grade':'" + data.Grade + "','subjectId':'" + data.SubjectId + "','exam':'" + data.ExamId + "','sectionId':'" + data.SectionId + "'}";
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetData", "ListQuestion")',
                data: sData,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(response) {
                    $("._modal").hide();
                    if (response.status == "success") {
                        var listData = response.Data;
                        var totalRecord = response.TotalPage;
                        var pageSize = response.PageSize;
                        var totalPage = (totalRecord % pageSize != 0) ? Math.floor(totalRecord / pageSize) + 1 : Math.floor(totalRecord / pageSize);
                        var currentPage = response.CurrentPage;
                        var str = "";
                        var roleDelete = ('@ViewBag.Delete' === 'True');
                        var roleEdit = ('@ViewBag.Edit' === 'True');
                        listData.forEach(function (item, index) {
                                str += "<tr style='text-align: center'>";
                                str += "                        <td style='text-align: center'>";
                                str += "<input type='checkbox' name='check-row' class='ace check-row' data-id='" + item.Id + "'>";
                                str += "</td>";
                                str += "         <td>" + (pageSize * currentPage + index + 1) + "</td>";
                                str += "<td>";
                                str += "              <div class='btn-group'>";
                                if (('@ViewBag.Host' === 'True')) {
                                    str += "<button type='button' class='btn color-trong dropdown-toggle' style='color: white;' data-toggle='dropdown' aria-expanded='false'>";
                                    str += "<i class='fa fa-cog' aria-hidden='true'></i>";
                                    str += "</button>";

                                    str += " <ul class='dropdown-menu setting-menu' role='menu'>";
                                    str += "<li><a target='_blank' href='/System/Ex_Question?cauHoi=" + item.Id +"'><i class='fa fa-pencil-square-o' aria-hidden='true' ></i>Chỉnh sửa</a></li>";
                                    str += "<li class='divider'></li>";
                                    str += "<li onclick='DeleteItem(" + item.Id + ")'><a class='noClick' href=''><i class='fa fa-times-circle' aria-hidden='true'></i>Xóa</a></li>";
                                } else {
                                    if (item.CreatedBy == @WebSecurity.CurrentUserId) {
                                        str += "<button type='button' class='btn color-trong dropdown-toggle' style='color: white;' data-toggle='dropdown' aria-expanded='false'>";
                                        str += "<i class='fa fa-cog' aria-hidden='true'></i>";
                                        str += "</button>";
                                        str += "             <ul class='dropdown-menu setting-menu' role='menu'>";
                                        if (roleEdit != null && roleEdit && roleDelete != null && roleDelete) {
                                            str += "<li><a target='_blank' href='/System/Ex_Question?cauHoi="+item.Id+"'><i class='fa fa-pencil-square-o' aria-hidden='true' ></i>Chỉnh sửa</a></li>";
                                            str += "<li class='divider'></li>";
                                            str += "<li onclick='DeleteItem(" + item.Id + ")'><a class='noClick' href=''><i class='fa fa-times-circle' aria-hidden='true'></i>Xóa</a></li>";
                                        } else if (roleEdit != null && roleEdit) {
                                            str += "<li><a target='_blank' href='/System/Ex_Question?cauHoi=" + item.Id +"'><i class='fa fa-pencil-square-o' aria-hidden='true' ></i>Chỉnh sửa</a></li>";
                                        } else if (roleDelete != null && roleDelete) {
                                            str += "<li onclick='DeleteItem(" + item.Id + ")'><a class='noClick' href=''><i class='fa fa-times-circle' aria-hidden='true'></i>Xóa</a></li>";
                                        }
                                        str += "</ul>";
                                    }
                                }
                                str += "             </div>";
                                str += "</td>";
                                str += "         <td style='text-align: left; padding-left: 10px;' >";
                                str += item.ExamName;
                                str += "    </td>";
                                str += "         <td style='text-align: left; padding-left: 10px;'>";
                                str += item.Section;
                                str += "    </td>";
                            str += "         <td style='text-align: left; padding-left: 10px;'>";
                            str += item.QuestionContent;
                            str += "    </td>";
                            if (item.CreatedDate != null) {
                                var date = new Date(parseInt(item.CreatedDate.replace(/(^.*\()|([+-].*$)/g, '')));
                                var dateString = (date.getDate() + 1) + '/' + date.getMonth() + '/' + date.getFullYear();
                                str += "     <td>" + dateString + "</td>";
                            } else {
                                str += "     <td></td>";
                            }
                                str += "<td>" + item.CreatedByName + "</td>";
                                if (item.UsedState == 1) {
                                    str += "<td  title='Đang hoạt động'><span class='badge label-success'><i class='fa fa-fw fa-check-circle'></i></span></td>";
                                } else if (item.UsedState == 0) {
                                    str += "<td  title='Đang bị khóa'><span class='badge label-warning'><i class='fa fa-fw fa-check-circle'></i></span></td>";
                                } else {
                                    str += "<td  title='Yêu cầu xóa'><span class='badge label-danger'><i class='fa fa-fw fa-check-circle'></i></span></td>";
                                }
                                str += "     </tr>";
                        })
                        $("#data").html(str);
                        $("#paging").html(paging(totalPage, page, $("#Key").val()));
                        $('a.noClick').on('click', function(e) {
                            e.preventDefault();
                            //do other stuff when a click happens
                        });
                    }

                    //window.location.href = url;
                },
                error: function() {
                    ToastMessage("error", "Xảy ra lỗi !");
                }
            });
        }
    </script>
    <script>
        function changeGrade() {
            $(".loadingSpinSubject").show();
            var grade = $('#grade').find(":selected").val();
            if (grade === "") { $(".loadingSpinSubject").hide(); $("#subjectId").html(""); return };
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetInfoData", "Ex_Question")',
                data: "{'type':1,'grade':'" + grade + "','subjectId':'','examId':''}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {

                    $(".loadingSpinSubject").hide();
                    var listData = response.Data;
                    $("#subjectId").html("");
                    listData.forEach(function (item, index) {
                        $("#subjectId").append("<option value='"+item.Id+"'>"+item.Name+"</option>");
                    })
                    if (listData.length > 0) {
                        changeSubject();
                    } else {
                        changeExam();
                    }
                    //if ($("#txtId").val() != ""); {
                    //    $("#subjectId").val($("#hiddenSubject").val()).change();
                    //}
                },
                err: function () {

                }
            })

        }
        function changeSubject() {
            $(".loadingSpinExam").show();
            var grade = $('#grade').find(":selected").val();
            var subjectId = $('#subjectId').find(":selected").val();
            if (grade === "" || subjectId === "" || typeof (subjectId) === "undefined") { $(".loadingSpinExam").hide(); $("#examId").html(""); return };
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetInfoData", "Ex_Question")',
                data: "{'type':'2','grade':'" + grade + "','subjectId':'" + subjectId+"','examId':''}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {

                    $(".loadingSpinExam").hide();
                    var listData = response.Data;
                    $("#examId").html("");
                    listData.forEach(function (item, index) {
                        $("#examId").append("<option value='"+item.Code.trim()+"'>"+item.Name+"</option>");
                    })
                        changeExam();
                    //if ($("#txtId").val() != ""); {
                    //    $("#subjectId").val($("#hiddenSubject").val()).change();
                    //}
                },
                err: function () {

                }
            })

        }
        function changeExam() {
            $(".loadingSpinSection").show();
            var examId = $('#examId').find(":selected").val();
            if (examId === "") { $(".loadingSpinSection").hide(); $("#sectionId").html(""); return };
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetInfoData", "Ex_Question")',
                data: "{'type':'3','examId':'" + examId + "','grade':'','subjectId':''}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {

                    $(".loadingSpinSection").hide();
                    var listData = response.Data;
                    $("#sectionId").html("");
                    listData.forEach(function (item, index) {
                        $("#sectionId").append("<option value='"+item.Id+"'>"+item.Section+"</option>");
                    })
                    //if ($("#txtId").val() != ""); {
                    //    $("#subjectId").val($("#hiddenSubject").val()).change();
                    //}
                },
                err: function () {

                }
            })

        }
    </script>
}
