
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .checkbox label::before {
        margin-left: -18px;
    }
</style>
<section class="content-header">

    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Thống kê lớp học</a></li>
    </ol>
</section>
<section class="content">
    <div class="row"></div>
    <div class="row">
        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Tìm kiếm </h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="form-horizontal">
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label class="col-sm-4 control-label">Từ ngày</label>

                                <div class="col-sm-8">
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" value="@ViewBag.StartDate" class="form-control pull-right datepicker" id="fromDate">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="col-sm-4 control-label">Đến ngày</label>

                                <div class="col-sm-8">
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" value="@ViewBag.EndDate" class="form-control pull-right datepicker" id="toDate">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-sm-4">
                                @if (ViewBag.Host && ViewBag.ListUser != null)
                                {
                                    <label class="col-sm-3 control-label">UserName</label>
                                    <div class="col-sm-9">

                                        <select class="js-select2 col-sm-12" id="userId" onchange="changeUserName()">
                                            <option value="0">--Tất cả--</option>
                                            @foreach (var item in (List<Core.Model.SysUser>)ViewBag.ListUser)
                                            {
                                                <option value="@item.UserId">@item.UserName</option>
                                            }
                                        </select>

                                    </div>
                                }
                            </div>
                            <div class="form-group col-sm-1"></div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label class="col-sm-4 control-label">
                                    <div class="checkbox checkbox-success checkbox-inline">
                                        <input type="checkbox" id="chkKhoahoc" value="option1" checked="">
                                        <label for="chkKhoahoc"> </label>
                                    </div>
                                </label>

                                <div class="col-sm-8">
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa  fa-code-fork"></i>
                                        </div>
                                        <input type="text" class="form-control" name="name" value="Khóa học" disabled />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-8" id="tab_1">
                                <label class="col-sm-2 control-label">Tên khóa học</label>
                                <div class="col-sm-10">
                                    @if (ViewBag.LstClass != null)
                                    {
                                        <select class="js-select2 col-sm-12" id="ddlClass">
                                            <option value="0">--Tất cả--</option>
                                            @foreach (var item in (List<Core.Model.Cms_Class>)ViewBag.LstClass)
                                            {
                                                <option value="@item.IdGuid">@item.Name</option>
                                            }
                                        </select>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label class="col-sm-4 control-label">
                                    <div class="checkbox checkbox-success checkbox-inline">
                                        <input type="checkbox" id="chkDethi" value="option1" checked="">
                                        <label for="chkDethi"> </label>
                                    </div>
                                </label>

                                <div class="col-sm-8">
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa  fa-code-fork"></i>
                                        </div>
                                        <input type="text" class="form-control" name="name" value="Đề thi" disabled />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-8">
                                <label class="col-sm-2 control-label">Tên đề thi</label>
                                <div class="col-sm-10">
                                    @if (ViewBag.LstExam != null)
                                    {
                                        <select class="js-select2 col-sm-12" id="ddlExam">
                                            <option value="0">--Tất cả--</option>
                                            @foreach (var item in (List<Core.Model.Ex_Exam>)ViewBag.LstExam)
                                            {
                                                <option value="@item.IdGuid">@item.Name</option>
                                            }
                                        </select>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="text-align: center;">
                            <button type="button" title="Tìm kiếm" id="btnSearch" class="btn color-trong btn-trong" onclick=" refresh(currentPage) ">
                                <i class="fa fa-search" aria-hidden="true"></i>&nbsp;&nbsp;Tìm kiếm
                            </button>
                            <button type="button" title="Export" id="btnSearch" class="btn color-trong btn-trong" style="background-color: #0ca526 !important;" onclick="export()">
                                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;&nbsp;Export
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box box-success">
                <div class="box-header with-border" style="padding-bottom: 0px;">
                    <div class="col-sm-6">
                        <h3 class="box-title" style="margin-left: -18px;"> Danh sách</h3>
                    </div>
                    <!--trongnv-->
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal">
                    <div class="box-body">
                        <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="dataTables_length">
                                        <label>
                                            Số lượng hiển thị
                                            <select name="example1_length" id="sizePage" onchange=" refresh(currentPage) " aria-controls="example1" class="selectOption-trong form-control input-sm">
                                                <option value="10">10</option>
                                                <option value="20">20</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>
                                            bản ghi
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-6"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead class="color-trong">
                                            <tr>
                                                <th style="width: 5%; text-align: center">STT</th>
                                                <th style="width: 10%; text-align: center">Thời gian</th>
                                                <th style="width: 10%; text-align: center">Loại</th>
                                                <th style="text-align: center">Tên</th>
                                                <th style="width: 10%;text-align: center">Số lượng học viên</th>
                                            </tr>
                                        </thead>
                                        <tbody id="data"></tbody>
                                    </table>
                                    <div class="bs-example">
                                        <div class="btn-toolbar text-center">
                                            <div class="dataTables_paginate" id="pageSearch">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="paging"></div>
                            @*  @Html.Raw(MvcPagingByFrameWork.Paging(Model.PageCount, Model.PageIndex, "System/Cms_Class/Index", ViewBag.Search))*@
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <!-- /.box -->
        <!-- general form elements disabled -->
        <!-- /.box -->
    </div>
</section>


@section JsFooter{
    <script src="~/Content/jquery.twbsPagination.js"></script>

    <script>
        $('#fromDate').datepicker({
            format: 'dd/mm/yyyy 00:00'
        })
        $('#toDate').datepicker({
            format: 'dd/mm/yyyy 23:59'
        })
        $(function () {
            refresh(currentPage);
        })
        function refresh(page) {
            var chkKhoaHoc = $('#chkKhoahoc:checkbox:checked').length > 0;
            var chkDethi = $('#chkDethi:checkbox:checked').length > 0;
            var ddlClass = $("#ddlClass").val();
            var ddlExam = $("#ddlExam").val();
            var userId = $("#userId :selected").val();
            userId = typeof (userId) == "undefined" ? 0 : userId;
            var sData = "{'fromDate':'" + $("#fromDate").val() + "','toDate':'" + $("#toDate").val() + "','userId':'" + userId + "','chkKhoaHoc':'" + chkKhoaHoc + "','chkDethi':'" + chkDethi + "','ddlClass':'" + ddlClass + "','ddlExam':'" + ddlExam+"'}";
            myLoop = new myLoading("btnSearch", "");
            myLoop.start();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetData", "ReportClass")',
                data: sData,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (res) {
                    myLoop.stop();
                    console.log(res);
                    if (res.status === "ok") {
                        var lstItem = res.value
                        $("#data").html("");
                        lstItem.forEach(function (item, index) {
                            var str = "";
                            str += "<tr class='tr-content'>";
                            str += "<td>" + (index+1) + "</td>";
                            var date = new Date(parseInt(item.Time.replace(/(^.*\()|([+-].*$)/g, '')));
                            var dateString =  +
                                date.getDate() +
                                '/'+
                                (date.getMonth() + 1) + '/' + date.getFullYear()+
                            '/' + date.getHours() + ':'+date.getMinutes()

                            str += "<td style='text-align: center'> <span class='badge bg-green'>" + dateString + "</span></td>";
                            str += "<td style='text-align: left; padding-left: 20px;'>" + item.Loai + "</td>";
                            str += "<td style='text-align: left; padding-left: 20px;'>" + item.Ten + "</td>";
                            str += "<td>" + item.SoLuong + "</td>";
                            str += "</tr>";
                            $("#data").append(str);
                        })
                        paging(lstItem);
                    } else {
                        toastr("error","Lỗi lấy dữ liệu!")
                    }
                },
                error: function () {
                    myLoop.stop();
                    toastr("error", "Lỗi lấy dữ liệu!")
                }
            });
        }
    </script>
    <script>
        function paging(lstItem) {
            $('#pageSearch').html("");
            $('#pageSearch').removeData("twbs-pagination");
            var item = lstItem;
            var pageSize = 10;
            if (item && item.length > 0) {
                var pageTotal = item.length / pageSize;
                if (pageTotal < 1) pageTotal = 1;
                if (item.length % pageSize >= 1) pageTotal += 1;
                pageTotal = (item.length <= pageSize) ? 1 : pageTotal;
                pagiWsTab = $('#pageSearch').twbsPagination({
                    totalPages: pageTotal,
                    visiblePages: 4,
                    onPageClick: function (event, page) {
                        $(".tr-content").hide();
                        $(".tr-content").each(function (n) {
                            if (n >= pageSize * (page - 1) && n < pageSize * page)
                                $(this).show();
                        });
                    }
                });
            }
        }
        function changeUserName() {
            var userId = $("#userId").val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetClassExam", "ReportClass")',
                data: "{'userId':'" + userId + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (res) {
                    var lstClass=res.lstClass;
                    var lstExam=res.lstExam;
                    var strClass ="<option value='0'>-- Tất cả --</option>";
                    var strExam = "<option value='0'>-- Tất cả --</option>";
                    for (var i = 0; i < lstClass.length; i++) {
                        strClass += "<option value='" + lstClass[i].IdGuid + "'>" + lstClass[i].Name + "</option>";
                    }
                    $("#ddlClass").html(strClass);
                    for (var i = 0; i < lstExam.length; i++) {
                        strExam+="<option value='" + lstExam[i].IdGuid + "'>" + lstExam[i].Name + "</option>";
                    }
                    $("#ddlExam").html(strExam);
                }
                , error: function () {

                }
            })
                };
    </script>
}


